# {{ ansible_managed }}
# This file MUST be edited with the 'visudo' command as root.
#
# Please consider adding local content in /etc/sudoers.d/ instead of
# directly modifying this file.
#
# See the man page for details on how to write a sudoers file.
#
{# #}
{# Generic Default Options #}
{# #}
{% if sudo_sudoers_defaults %}
# Generic Defaults
{% for option, value in sudo_sudoers_defaults|dictsort %}
{% if value == true %}
Defaults          {{ option }}
{% elif value == false %}
Defaults          !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults          {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults          {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _sudo_sudoers_list_separators %}
Defaults          {{ option }} = {{ value|join(_sudo_sudoers_list_separators[option]) }}
{% else %}
Defaults          {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults          {{ option }} = {{ value }}
{% endif %}
{% endfor %}

{% endif %}
{# #}
{# User Alias Specificatieon #}
{# #}
{% if sudo_sudoers_user_aliases %}
# User alias specification
{% for name, value in sudo_sudoers_user_aliases|dictsort %}
User_Alias        {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Runas Alias Specificatieon #}
{# #}
{% if sudo_sudoers_runas_aliases %}
# Runas alias specification
{% for name, value in sudo_sudoers_runas_aliases|dictsort %}
Runas_Alias       {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Host Alias Specificatieon #}
{# #}
{% if sudo_sudoers_host_aliases %}
# Host alias specification
{% for name, value in sudo_sudoers_host_aliases|dictsort %}
Host_Alias        {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Cmnd Alias Specificatieon #}
{# #}
{% if sudo_sudoers_cmnd_aliases %}
# Cmnd alias specification
{% for name, value in sudo_sudoers_cmnd_aliases|dictsort %}
Cmnd_Alias        {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Host Default Options #}
{# #}
{% if sudo_sudoers_host_defaults %}
# Host Specific Defaults
{% for host, defaults in sudo_sudoers_host_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults@{{ host.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults@{{ host.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults@{{ host.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults@{{ host.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _sudo_sudoers_list_separators %}
Defaults@{{ host.ljust(16) }} {{ option }} = {{ value|join(_sudo_sudoers_list_separators[option]) }}
{% else %}
Defaults@{{ host.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults@{{ host.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# User Default Options #}
{# #}
{% if sudo_sudoers_user_defaults %}
# User Specific Defaults
{% for user, defaults in sudo_sudoers_user_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults:{{ user.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults:{{ user.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults:{{ user.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults:{{ user.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _sudo_sudoers_list_separators %}
Defaults:{{ user.ljust(16) }} {{ option }} = {{ value|join(_sudo_sudoers_list_separators[option]) }}
{% else %}
Defaults:{{ user.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults:{{ user.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# Runas Default Options #}
{# #}
{% if sudo_sudoers_runas_defaults %}
# Runas Specific Defaults
{% for runas, defaults in sudo_sudoers_runas_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults>{{ runas.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults>{{ runas.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults>{{ runas.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults>{{ runas.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _sudo_sudoers_list_separators %}
Defaults>{{ runas.ljust(16) }} {{ option }} = {{ value|join(_sudo_sudoers_list_separators[option]) }}
{% else %}
Defaults>{{ runas.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults>{{ runas.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# Runas Default Options #}
{# #}
{% if sudo_sudoers_cmnd_defaults %}
# Cmnd Specific Defaults
{% for cmnd, defaults in sudo_sudoers_cmnd_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults!{{ cmnd.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults!{{ cmnd.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _sudo_sudoers_list_separators %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} = {{ value|join(_sudo_sudoers_list_separators[option]) }}
{% else %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# User Specification #}
{# #}
{% if sudo_sudoers_spec %}
# User Specification
{% for spec in sudo_sudoers_spec %}
{{ spec.user.ljust(18) }} {{ spec.hosts|default(['ALL'])|join(', ') if spec.hosts is not string else spec.hosts }} = {{ '(' if spec.runas_users is defined or spec.runas_groups is defined else '' }}{{  spec.runas_users|default([])|join(', ') if spec.runas_users is not string else spec.runas_users }}{{ ' ' if spec.runas_users is defined and spec.runas_groups is defined else '' }}{{ ': ' if spec.runas_groups is defined else ''}}{{ spec.runas_groups|default([])|join(', ') if spec.runas_groups is not string else spec.runas_groups }}{{ ') ' if spec.runas_users is defined or spec.runas_groups is defined else '' }}{{ spec.tags|default([])|join(':') if spec.tags is not string else spec.tags }}{{ ": " if spec.tags is defined else "" }}{{ spec.commands|default(['ALL'])|join(', ') if spec.commands is not string else spec.commands }}
{% endfor %}

{% endif %}
{# #}
{# Sudoers include directory #}
{# #}
{% if sudo_sudoers_directory %}
# See sudoers(5) for more information on "#include" directives:
#includedir {{ sudo_sudoers_directory }}
{% endif %}
