# {{ ansible_managed }}
# This file MUST be edited with the 'visudo' command as root.
#
{# #}
{# Generic Default Options #}
{# #}
{% if item.value.defaults is defined %}
# Generic Defaults
{% for option, value in item.value.defaults|dictsort %}
{% if value == true %}
Defaults          {{ option }}
{% elif value == false %}
Defaults          !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults          {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults          {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _item.value.list_separators %}
Defaults          {{ option }} = {{ value|join(_item.value.list_separators[option]) }}
{% else %}
Defaults          {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults          {{ option }} = {{ value }}
{% endif %}
{% endfor %}

{% endif %}
{# #}
{# User Alias Specificatieon #}
{# #}
{% if item.value.user_aliases is defined %}
# User alias specification
{% for name, value in item.value.user_aliases|dictsort %}
User_Alias        {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Runas Alias Specificatieon #}
{# #}
{% if item.value.runas_aliases is defined %}
# Runas alias specification
{% for name, value in item.value.runas_aliases|dictsort %}
Runas_Alias       {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Host Alias Specificatieon #}
{# #}
{% if item.value.host_aliases is defined %}
# Host alias specification
{% for name, value in item.value.host_aliases|dictsort %}
Host_Alias        {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Cmnd Alias Specificatieon #}
{# #}
{% if item.value.cmnd_aliases is defined %}
# Cmnd alias specification
{% for name, value in item.value.cmnd_aliases|dictsort %}
Cmnd_Alias        {{ name|upper() }} = {{ value if value is string else value|join(', ') }}
{% endfor %}

{% endif %}
{# #}
{# Host Default Options #}
{# #}
{% if item.value.host_defaults is defined %}
# Host Specific Defaults
{% for host, defaults in item.value.host_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults@{{ host.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults@{{ host.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults@{{ host.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults@{{ host.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _item.value.list_separators %}
Defaults@{{ host.ljust(16) }} {{ option }} = {{ value|join(_item.value.list_separators[option]) }}
{% else %}
Defaults@{{ host.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults@{{ host.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# User Default Options #}
{# #}
{% if item.value.user_defaults is defined %}
# User Specific Defaults
{% for user, defaults in item.value.user_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults:{{ user.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults:{{ user.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults:{{ user.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults:{{ user.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _item.value.list_separators %}
Defaults:{{ user.ljust(16) }} {{ option }} = {{ value|join(_item.value.list_separators[option]) }}
{% else %}
Defaults:{{ user.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults:{{ user.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# Runas Default Options #}
{# #}
{% if item.value.runas_defaults is defined %}
# Runas Specific Defaults
{% for runas, defaults in item.value.runas_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults>{{ runas.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults>{{ runas.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults>{{ runas.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults>{{ runas.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _item.value.list_separators %}
Defaults>{{ runas.ljust(16) }} {{ option }} = {{ value|join(_item.value.list_separators[option]) }}
{% else %}
Defaults>{{ runas.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults>{{ runas.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# Runas Default Options #}
{# #}
{% if item.value.cmnd_defaults is defined %}
# Cmnd Specific Defaults
{% for cmnd, defaults in item.value.cmnd_defaults|dictsort %}
{% for option, value in defaults.iteritems() %}
{% if value == true %}
Defaults!{{ cmnd.ljust(16) }} {{ option }}
{% elif value == false %}
Defaults!{{ cmnd.ljust(16) }} !{{ option }}
{% elif value is mapping %}
{% if "append" in value %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} += "{{ value['append']|join(' ') }}"
{% endif %}
{% if 'remove' in value %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} -= "{{ value['remove']|join(' ')}}"
{% endif %}
{% elif value is iterable and value is not string %}
{% if option in _item.value.list_separators %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} = {{ value|join(_item.value.list_separators[option]) }}
{% else %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} = "{{ value|join(' ') }}"
{% endif %}
{% else %}
Defaults!{{ cmnd.ljust(16) }} {{ option }} = {{ value }}
{% endif %}
{% endfor %}
{% endfor %}

{% endif %}
{# #}
{# User Specification #}
{# #}
{% if item.value.spec is defined %}
# User Specification
{% for user in item.value.spec %}
{{ user.user.ljust(18) }} {{ user.hosts|default(['ALL'])|join(', ') if user.hosts is not string else user.hosts }} = {{ '(' if user.runas_users is defined or user.runas_groups is defined else '' }}{{  user.runas_users|default([])|join(', ') if user.runas_users is not string else user.runas_users }}{{ ' ' if user.runas_users is defined and user.runas_groups is defined else '' }}{{ ': ' if user.runas_groups is defined else ''}}{{ user.runas_groups|default([])|join(', ') if user.runas_groups is not string else user.runas_groups }}{{ ') ' if user.runas_users is defined or user.runas_groups is defined else '' }}{{ user.tags|default([])|join(':') if user.tags is not string else user.tags }}{{ ": " if user.tags is defined else "" }}{{ user.commands|default(['ALL'])|join(', ') if user.commands is not string else user.commands }}
{% endfor %}
{% endif %}
